<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;" *ngFor="let card of cards">
        <img class="card-img-top" src="../../assets/memoria-frutas-307.png" alt="Card">
        <div class="card-body">
          <p class="card-text"> </p>
        </div>
      </div>

      <div class="card" style="width: 18rem;" *ngFor="let card of otherCards">
        <img class="card-img-top" src="../../assets/images.png" alt="Card">
        <div class="card-body">
          <p class="card-text"> </p>
        </div>
      </div>
    </div>
  </div>
</div>
